@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	body {
		/* light mode bg / dark mode bg */
		@apply bg-neutral-100 dark:bg-neutral-900;
	}
}

* {
	@apply transition-colors duration-200;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #0c0c0d;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
	border-radius: 5px;
}
